In [74]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import numpy as np
from transformers import pipeline

In [75]:
PATH = "IMDB Dataset.csv"
df = pd.read_csv(PATH)
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [76]:
n = 1000 #Número de frases para testar o classificador
X_train, X_test, Y_train, Y_test = train_test_split(df['review'], df['sentiment'], test_size=n)

In [77]:
classifier = pipeline('sentiment-analysis') # Classificador do huggingface

In [78]:
y_pred = pd.DataFrame(data={'result':[0 for i in range(n)] , 'y_test': Y_test}) #testamos com n instâncias
indices = X_test.index
contador = 0

for frase in X_test:
    lista = frase.replace('<br />','').replace(',','').split('.') #quebramos a frase em uma lista de frases
    contpos = 0
    contneg = 0

    for i in range(len(lista)):
        if classifier(lista[i])[0]['label'] == 'POSITIVE':
            contpos += 1
        else:
            contneg += 1
    
    if contpos >= contneg: #a gente coloca num dataframe de acordo com a moda
        y_pred['result'].loc[indices[contador]] = 'positive' 
    
    elif contpos < contneg :
        y_pred['result'].loc[indices[contador]] = 'negative'
        
    contador += 1

c:\users\ddayv\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [79]:
y_pred

         result    y_test
35708  negative  negative
32479  negative  negative
26482  positive  positive
40417  positive  positive
6098   positive  positive
...         ...       ...
40611  negative  negative
26764  positive  positive
17693  positive  positive
45024  negative  negative
22848  negative  negative

[1000 rows x 2 columns]

In [80]:
print('Acurácia: {}%'.format(100*(y_pred['y_test'] == y_pred['result']).mean()))

Acurácia: 79.9%