In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from nltk.corpus import wordnet
import random as rd
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report
from nltk.tokenize import word_tokenize
import ktrain
from ktrain import text
import nltk
import numpy as np
from transformers import pipeline

In [4]:
PATH = "IMDB Dataset.csv"
df = pd.read_csv(PATH)
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [66]:
n = 1000 #Número de frases para testar o classificador
X_train, X_test, Y_train, Y_test = train_test_split(df['review'], df['sentiment'], test_size=n)

In [67]:
X_augmentation = X_test
X_augmentation

29972    Muscular man-ape in the jungles of Africa is h...
13889    I saw FAREWELL TO HARRY at the Plaza Theatre w...
22148    Oh my God... where to begin? "Chupacabra Terro...
47265    This is a very entertaining flick, considering...
38047    The way this story played out and the interact...
                               ...
45473    ( HR is what Himesh is called in the movie, I ...
30175    Worst. Movie. Ever. I can't believe they had t...
7800     Spoiler begin The movie focuses on three frien...
39515    In the future of 1985, a governmental committe...
10678    Zipperface is the kind of experience one waits...
Name: review, Length: 1000, dtype: object

In [68]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ddayv\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [69]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ddayv\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [70]:
classifier = pipeline('sentiment-analysis') # Classificador do huggingface

In [71]:
y_pred = pd.DataFrame(data={'result':[0 for i in range(n)] , 'y_test': Y_test}) #testamos com n instâncias
indices = X_test.index
contador = 0

for frase in X_test:
    lista = frase.replace('<br />','').replace(',','').split('.') #quebramos a frase em uma lista de frases
    contpos = 0
    contneg = 0

    for i in range(len(lista)):
        if classifier(lista[i])[0]['label'] == 'POSITIVE':
            contpos += 1
        else:
            contneg += 1
    
    if contpos >= contneg: #a gente coloca num dataframe de acordo com a moda
        y_pred['result'].loc[indices[contador]] = 'positive' 
    
    elif contpos < contneg :
        y_pred['result'].loc[indices[contador]] = 'negative'
        
    contador += 1

In [72]:
y_pred

         result    y_test
29972  negative  negative
13889  positive  positive
22148  negative  negative
47265  positive  positive
38047  positive  positive
...         ...       ...
45473  positive  negative
30175  positive  negative
7800   positive  positive
39515  negative  negative
10678  negative  negative

[1000 rows x 2 columns]

In [73]:
print('Acurácia: {}%'.format(100*(y_pred['y_test'] == y_pred['result']).mean()))

Acurácia: 81.39999999999999%